body {
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
}

header {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 2em;
}

section {
  max-width: 800px;
  margin: 0 auto;
  padding: 2em;
}

#services {
  background-color: #fff;
}

.service {
  margin-bottom: 2em;
}

.service img {
  max-width: 60%;
  height: auto;
}

#contact {
  background-color: #f4f4f4;
}

footer {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 1em 0;
  position: fixed;
  bottom: 0;
  width: 100%;
}
